header{
  background-image: linear-gradient(to right, white , gray);
  font-family: "Corbel";
  font-style: italic;
  height: 70px
}

header img{
  width: 4em;
}

header h1{
  color: #F39119;
}

@media (max-width: 768px) {
  header img{
    width: 3em;
  }
}
