header{
  background-color: white;
  font-family: "Corbel";
  font-style: italic;
  height: 70px;
  box-shadow: 1px 1px 2px gray
}

header img{
  width: 4em;
}

header h1{
  color: #F39119;
}

@media (max-width: 768px) {
  header img{
    width: 3em;
  }
}
