.Ayuda-container{
  background-color: lightgray;
  min-height: 100vh
}

.Ayuda-container-contact{
  font-size: 20px
}

.Ayuda-container img{
  width: 100px
}

@media (max-width: 768px) {
.Ayuda-container-contact{
    font-size: 15px
  }

  .Ayuda-container img{
    width: 80px
  }
}
