.Ayuda-container{
  background-color: #F2F2F2;
  min-height: 100vh
}

.Ayuda-container img{
  width: 100px
}

.Ayuda-container a{
  text-decoration: underline;
}

.Ayuda-icono{
  color: #F39119;
}

@media (max-width: 768px) {
.Ayuda-container-contact{
    font-size: 15px
  }

  .Ayuda-container img{
    width: 80px
  }
}
