.chooseUserType-container{
  background-color: #F2F2F2;
  min-height: 100vh;
}

.chooseUserType-pregunta{
  background: #F2F2F2;
  font-size: 30px;
  border-radius: 10px;
  color: black
}

.chooseUserType-options{
  border-width: 1px;
  border-color: black;
  border-style: solid;
  color: black;
  height: 200px
}

.chooseUserType-options img{
  width: 6em;
}
