.chooseUserType-container{
  background-image: url("Images/fitness-home-gray.png");
  background-position: center;
  background-size: cover;
  padding-top: 5%;
  min-height: 100vh;
  color: white;
}

.chooseUserType-pregunta{
  background: lightgray;
  font-size: 30px;
  border-radius: 10px;
  color: black
}

.chooseUserType-options{
  border-width: 1px;
  border-color: black;
  border-style: solid;
  color: black
}

.chooseUserType-options img{
  width: 150px;
}
