.configInstructor-container{
  background-color: #F2F2F2;
  min-height: 100vh;
}

.configInstructor-container img{
  height: 150px;
  width: 300px
}

.zoom-button{
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: gray
}

.foto-perfil{
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: gray
}

@media (max-width: 992px) {
  .foto-perfil{
    border-right-style: none;
  }
}
