.configInstructor-container{
  background-color: #F2F2F2;
  min-height: 100vh;
}

.configInstructor-container img{
  height: 150px;
  width: 300px
}


.foto-perfil{
  background-color: white;
  border-radius: 10px;
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}

.configInstructor-form{
  background-color: white;
  border-radius: 10px;
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}
