.FirstSteps-container{
  background-color: #F2F2F2;
  min-height: 100vh
}

.FirstSteps-container h2{
  color:#F39119
}

.FirstSteps-timeToHelp{
  background-color: #FBE5D6;
  border-radius: 10px;
  padding: 10px
}

.FirstSteps-container p{
  font-size: large
}

@media (max-width: 768px) {
  .FirstSteps-container p{
    font-size: 15px
  }
}
