@keyframes animationHeader {
  from {background-color: gray;}
  to {background-color: lightgray;}
}

.InstructorProfile-container{
  background-color: #F2F2F2;
  min-height: 100vh
}

.InstructorProfile-container h2{
  color: #F39119;
  font-family: "Corbel", Arial, sans-serif;
  font-style: italic;
}

.InstructorProfile-container h3{
  font-weight: normal;
  color: black
}


.InstructorProfile-container-header{
  background-color: lightgray;
  min-height: 30vw;
  animation-name: animationHeader;
  animation-duration: 2s;
}

.InstructorProfile-container-header p{
  color: black;
}

.profilePicture{
  min-height: 200px
}

.profilePicture img{
  max-height: 350px
}

.InstructorProfile-container-programa{
  border-top: solid;
  border-top-color: gray;
  border-top-width: 1px
}

.InstructorProfile-container-programa p{
  color: black
}


.monthlyProgram-clasesZoom{
  border-right: solid;
  border-right-color: gray;
  border-right-width: 1px
}

.InstructorProfile-container-programa-price{
  background-color: gray;
  font-size: 20px;
  color: white
}

@media (max-width: 768px) {
  .profilePicture img{
    max-height: 200px
  }
}
