.InstructorProfile-container{
  background-color: #F2F2F2;
  min-height: 100vh
}

.InstructorProfile-monthlyProgram{
  background-color: #F2F2F2;
}

.InstructorProfile-monthlyProgram-price{
  background-color: white;
  border-radius: 10px;
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}

.InstructorProfile-container h2{
  color: black;
  font-family: "Corbel", Arial, sans-serif;
  font-style: italic;
  text-transform: uppercase;
}

.InstructorProfile-container h3{
  font-weight: normal;
  color: black
}


.InstructorProfile-container-header{
  background-color: #FBE5D6;
  height: 400px;
}

.InstructorProfile-container-nameDescription{
  height:200px;
  overflow-y:hidden;
}

.profilePicture{
  height: 400px;
  transform: skew(10deg);
}

.profilePicture img{
  max-height: 400px
}

.InstructorProfile-container-programa h3{
  color: white
}

.InstructorProfile-container-programa > div:first-of-type{
  transform: skew(-20deg);
  background-color: #d68930;
  border-radius: 10px
}

.InstructorProfile-container-programa-price{
  font-size: 20px;
  font-style: italic;
}

@media (max-width: 768px) {
  .profilePicture img{
    max-height: 200px
  }

  .InstructorProfile-container-header{
    height: auto;
  }

  .profilePicture{
    min-height: 300px;
    transform: skew(0deg);
  }

}
