@keyframes header-right {
  from {margin-right: 50vw}
  to {margin-right: 0vw}
}

@keyframes header-left {
  from {margin-left: 50vw}
  to {margin-left: 0vw}
}

.LandingPage-container{
  background-color: #F2F2F2;
  position: relative;
  padding-bottom:200px
}

.LandingPage-foto-container img{
  max-width: 100vw;
  height: 200vw;
}

.header-rigt{
  animation-name: header-right;
  animation-duration: 2s;
  position: relative;
}

.header-left{
  animation-name: header-left ;
  animation-duration: 2s;
  position: relative;
}

.LandingPage-eslogan{
  font-family: "Corbel", Arial, sans-serif;
  font-style: italic;
  text-transform: uppercase;
  color: #d68930 !important
}

.LandingPage-container h6{
  color: white
}

.LandingPage-subeslogan{
  background-color: #BA874D;
  color: white;
  padding: 5px
}

.LandingPage-subtitle{
  text-shadow: 1px 1px black;
}

.LandingPage-bullets h3{
  color: black !important;
  margin-top: 5%;
}{}

.LandingPage-FirstSteps{
  margin-top: 2%;
  padding: 1%;
  background-color:  #BA874D !important
}

.footer{
  min-height: 100px;
  font-size: small;
  position: absolute;
  bottom: 0;
  background-image: url("Images/MM TEXTURA.jpg");
  background-position: center;
  background-size: cover
}

.footer img{
  width: 3em
}

.LandingPage-terminos {
  font-size: small;
}

.LandingPage-foto-container{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (min-width: 768px) {

  @keyframes logo {
    from {width: 100vw}
    to {width: 100%}
  }

  .footer{
    font-size: large
  }

  .LandingPage-container i{
    font-size: 15px;
  }

  .LandingPage-bullets h3{
    margin-top: 0%
  }

  .LandingPage-foto-container img{
    max-width: 80vw;
    height: auto;
  }

}
