.login-container{
  background-image: url("Images/fitness-home-gray.png");
  background-position: center;
  background-size: cover;
  padding-top: 5%;
  min-height: 100vh;
  color: white;
}

.login-container h2{
  color: white;
}

.login-container h3{
  color: white;
}

.login-container p{
  color: white;
}

.login-form{
  background-color: rgba(0,0,0,0.8);
}
