.MisCompras-container{
  background-color: lightgray;
  min-height: 100vh
}

.MisCompras-container-paymentMethod{
  background-color: rgba(0,0,0,.03);
  color: black;
  border-color: gray;
  border-width: 2px;
  border-style: solid;
}
