.MyClasses-container{
  background-color: #F2F2F2;
  min-height: 100vh;
  max-width: 100vw
}


.MyClasses-summary{
  background-color: white;
  border-radius: 10px;
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}

.MyClasses-card{
  width: 200px
}

@media (max-width: 768px) {
  .MyClasses-card{
    width: 100px
    }
}
