.Sales-container{
  background-color: #F2F2F2;
  min-height: 100vh
}

.Sales-totales{
  background-color: white
}

.Sales-detalle{
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  .Sales-detalle{
    font-size: 9px
  }
}
