.clasesPrueba{
  background-color: #A6A6A6;
  border-radius: 10px
}

.clasesPrueba p{
  color: white;
  font-size: 12px
}

.clasesPrueba a{
  color: lightblue;
  font-size: 12px
}

@media (max-width: 768px) {
  .clasesPrueba p{
    color: white;
    font-size: 15px
  }
}
