.clasesPrueba{
  background-color: gray;
  border-radius: 10px
}

.clasesPrueba p{
  color: white;
  font-size: 12px
}

@media (max-width: 768px) {
  .clasesPrueba p{
    color: white;
    font-size: 15px
  }
}
